#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: "Freeman", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* CSS Styles for Footer */

.footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  border: 1px solid black;
  height: 5rem;
  width: 100vw;
  position: fixed;
  flex-grow: 1;

}

/* Recepie Card Styles */

.recepie-container{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgray;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: lightcyan;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}


/* End of recepie styles */

.topnav a.active {
  background-color: #04AA6D;
  color: white;
  position: fixed;
  width: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  background-color: #f0f0f0;
  padding: 20px;
}
