#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* CSS Styles for Footer */

.footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  border: 1px solid black;
  height: 5rem;
  width: 100vw;
  position: fixed;
  flex-grow: 1;





}